{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--  Título da pagína -->
  <title>Rodrigo Daher Pimentel</title>

  <!--  Arquivo Main.css -->
  <link rel="stylesheet" href="{% static 'main.css' %}">
  
  <!--  Fonte do Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Minhas tarefas:</h1>
  <ul class="tasks-list">
    {% for task in tasks %}
      <li>
        <input type="checkbox" {% if task.done %} checked {% endif %}>
        <div><b>{{ task.title }}</b><br>{{ task.description }}<br>Categoria: {{ task.category }}<br><ins>Prazo:</ins> {{ task.due_date }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <h3>Adicione uma nova tarefa:</h3>
  <form action="task_create" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create">
  </form>

</body>
</html>