{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--  Título da pagína -->
  <title>Rodrigo Daher Pimentel</title>

  <!--  Arquivo Main.css -->
  <link rel="stylesheet" href="{% static 'main.css' %}">
  
  <!--  Fonte do Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    input.mainAction {
      margin-top: 15px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      border: unset;
      
      color: #121413;
      background-color: #00ff8e;
      border-radius: 5px;
    }
  </style>
  <h1>Deseja editar um elemento:</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="mainAction" type="submit" value="Editar">
  </form>

</body>
</html>